:root {
    --bg: #0C0C12;
    --bg2: #13131E;
    --bg3: #1C1C2E;
    --card: #16162A;
    --border: rgba(255, 255, 255, 0.07);
    --purple: #7C3AED;
    --purple2: #9D5FF5;
    --mint: #06D6A0;
    --red: #EF4444;
    --yellow: #F59E0B;
    --text: #F1F1F5;
    --text2: #8B8B9E;
    --text3: #55556A;
}
body .dp__theme_dark {
  --dp-primary-color: var(--purple2);
}